.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.btn-group .btn-fab{
    position: fixed !important;
    right: 20px;
}

.buttonNext{
    bottom: 20px;
}

.width-100 {
	width: 100px;
}

.height-100 {
	height: 100px;
}